{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block body %}
    <main role="main" class="main-content" id="main-content">
        <div class="titleCont">
            <h1 class="main-title" id="main-title">
                Bonjour voyageur.euse,<br><span style="padding-left:100px">j'ai besoin de toi.</span><br><span style="padding-right:110px">Es-tu prêt.e</span><br><span style="padding-left:-20px">à m'aider ?</span>
            </h1>
        </div>
        <div class="divBtn">
        <input class="btnOui" id="btnOui" type="submit" name="oui" value="Oui">
        <input class="btnNon" id="btnNon" type="submit" name="non" value="Non">
        <input class="btnOui2" id="btnOui2" type="submit" name="oui2" value="Oui">
        <input class="btnNon2" id="btnNon2" type="submit" name="non2" value="Non">
        <input class="btnCaché" id="btnCaché" type="submit" name="caché" value="Surprise">

        </div>
        <script>
            var btnOui = document.getElementById('btnOui');
            var btnNon = document.getElementById('btnNon');
            var btnOui2 = document.getElementById('btnOui2');
            var btnCache = document.getElementById('btnCaché');
            btnOui.onclick = function() {
                document.getElementById('main-title').innerHTML = "<span style='padding-right:-40px'>Bien.</span><br><span style='padding-left:70px'>Es-tu prêt.e</span><br><span style='padding-left:50px'>pour la première</span><br><span style='padding-left:40px'>énigme ?</span>";
                document.getElementById('btnOui').style.display = "none";
                document.getElementById('btnNon').style.display = "none";
                document.getElementById('btnOui2').style.display = "inline-block";
                document.getElementById('btnNon2').style.display = "inline-block";
                // document.getElementById('btnOui2').style.pointerEvents = "auto";
            }
            btnOui2.onclick = function(){
                document.getElementById('main-title').innerHTML = "Trouve le bouton qui te permettra<br> de passer à la suite."
                document.getElementById('btnOui2').style.display = "none";
                document.getElementById('btnNon2').style.display = "none";
                document.getElementById('btnCaché').style.display = "block";
            }
            btnCache.onclick = function(){
                document.getElementById('main-title').innerHTML = "Tu as trouvé le bouton caché !<br>Bravo !<br>"
                document.getElementById('btnCaché').style.display = "none";
                setTimeout(function(){
                    window.location.href = "{{ path('app_reponse_enigme_un') }}";
                }, 2000);

            }

        </script>


{#        <canvas id="noise" class="noise"></canvas>#}
        <div class="vignette"></div>
    </main>


    <div class="figure">
        <img class="imageAssistante" src="{{ asset('images/assistante2.svg') }}" alt="assistante" height="300px">
        <img id="assistanteIdeeHome" class="imageAssistanteIdee" src="{{ asset('images/assistanteIdee.svg') }}" alt="assistante" height="300px">
    </div>



{% endblock %}
