{% extends 'base.html.twig' %}

{% block title %}Hello WIPController!{% endblock %}

{% block body %}

    <div class="divWIP">

            <h1 style="color:white">WIP</h1>

            <p style="color:white">Work in progress</p>
    </div>

    <div id="black">
        <div id="dvd"></div>
    </div>
{% endblock %}
